@model RegisterViewModel


<h2 class="text-center mt-4">Registration page</h2>
<div class="container text-center">
    <form class="m-3 p-3" asp-controller="Auth" asp-action="Register" method="post">
        <div class="form-group row">
            <label class="col-4 text-right col-form-label">Username</label>
            <div class="col-4">
                <input class="form-control" placeholder="Enter username" asp-for="UserName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 text-right col-form-label">Password</label>
            <div class="col-4">
                <input type="password" class="form-control" placeholder="Enter password" asp-for="Password" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 text-right col-form-label">Confirm Password</label>
            <div class="col-4">
                <input type="password" class="form-control" placeholder="Enter password" asp-for="ConfirmPassword" />
            </div>
        </div>
        <div class="d-flex  justify-content-center">
            <div class="text-left text-danger" asp-validation-summary="All"></div>
        </div>
        <button class="m-3 btn btn-secondary" type="submit">Register</button>
    </form>
</div>