$primary-bg-color: #FFFFFF;

@mixin cursorHoverChange($cursor) {
    cursor: $cursor;
}

%whenHover {
    text-decoration: none;
    color: #2C333E;
}

body {
    background-color: $primary-bg-color;
}

.card-admin-panel:hover {
    @include cursorHoverChange(pointer);
}

a {
    color: #2C333E;
}

a:hover {
    @extend %whenHover
}

.text-bold {
    font-weight: bold;
}

.card-header-primary {
    background-color: #D6D4CF;
}

.bg-dark {
    background-color: #2C333E;
}

.bg {
    background-color: $primary-bg-color;
}

.text-left-xs {
    text-align: left;
}

.upvoted {
    color: mediumseagreen !important;
}

.downvoted {
    color: lightcoral !important;
}

@media (min-width: 768px) {
    .m-3.btn.btn-secondary{
        width: 100%;
    }

    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}